<footer class="footer mt-auto py-3 bg-body-tertiary text-center">
  <div class="container-fluid bg-light">
    <div class="row">
        <section class="col">
            <h4>colonne 1</h4>
        </section>
        <section class="col">
                   <h4>colonne 2</h4>
        </section>
        <section class="col">
                   <h4>colonne 3</h4>
        </section>
    </div>
  </div>
</footer>