{% extends 'base.html.twig' %}

{% block title %}Request Password
{% endblock %}

{% block body %}

	<main class="form-signin w-100 m-auto">
		<section class="container my-3">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center">Request Password</h2>
          {{ form_errors(form_request_password) }}
          {{ form_start(form_request_password) }}
            {{ form_row(form_request_password.email) }}
          <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form_request_password)}}
				</div>
			</div>
		</section>

	</main>
{% endblock %}
