{% extends 'base.html.twig' %}

{% block title %}Page Not Found
{% endblock %}

{% block body %}

	<main class="container-fluid">
		<div class="page-wrap d-flex flex-row align-items-center">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<span class="display-1 d-block">Error</span>
						<div class="mb-4 lead">The page you are looking for was not found.</div>
						<a href="{{ path('app_main')}}" class="btn btn-info">Retour Accueil</a>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}