<p>Bonjour {{ user.firstname }} &nbsp; {{ user.lastname }}</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ url | raw}}">{{ url | raw}}</a> </p>
<p>Bonne réception</p>
